{% extends "base.html" %}{% load i18n traditional_tags %}
{% block content %}
    {% book_details_breadcumbs book as breadcumbs %}
    {% include "components/breadcumb.html" with breadcumbs=breadcumbs %}
    <div class="container">
        <span id="bookmark_{{ book.isbn13 }}" style="float: right" class="div">
            {% if book.bookmarked %}
                <i class="fas fa-star"></i>
            {% else %}
                <b>{% trans "Click for add bookmarks" %}</b>
                <i style="cursor:pointer;" title="{% trans "Click for add bookmarks" %}"
                   onclick="addMyBookmarks({{ book.isbn13 }})"
                   class="far fa-star"></i>
            {% endif %}
        </span>
        <h2>
            {{ book.title }}
        </h2>
        {% include "components/book_detail.html" with book=book %}
    </div>
{% endblock %}
