<!DOCTYPE html>{% load i18n staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "My Book App" %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block css %}{% endblock css %}
</head>
<body>
<div class="row1">
    {% include "traditional/components/header.html" %}
    {% block content %}{% endblock content %}
    {% include "traditional/components/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block js %}{% endblock js %}
    <script>
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return decodeURI(results[1]) || 0;
        }
        $(document).ready(function () {
            $("input[name='q']").val($.urlParam('q'));
            $('[data-toggle="tooltip"]').tooltip()
        });

        function addMyBookmarks(isbn13) {
            $.ajax({
                url: '/traditional/ajax/add-my-bookmarks',
                data: {
                    'isbn13': isbn13
                },
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        $("#result").html('<div class="alert alert-success"><button type="button" class="close">×</button>'+ data.message +'</div>');
                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 5000);
                        $('.alert .close').on("click", function (e) {
                            $(this).parent().fadeTo(500, 0).slideUp(500);
                        });
                    }
                    else {
                        alert(data.message);
                    }
                    $('#bookmark_' + isbn13).html('<i class="fas fa-star"></i>');
                }
            });
        };
    </script>
</div>
</body>
</html>